<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="coffeeKind" class="com.mb.CoffeeSpace.Models.CoffeeKind">
        <constructor-arg name="name" value="Columbia Inza" />
    </bean>

    <bean id="eventLogger" class="com.mb.CoffeeSpace.Services.ConsoleLogger"/>
    <bean id="fileLogger" class="com.mb.CoffeeSpace.Services.FileLogger" init-method="init">
        <constructor-arg value="log.txt" />
    </bean>
    <bean id="cacheFileLogger" class="com.mb.CoffeeSpace.Services.CacheFileLogger"
          init-method="init"
          destroy-method="flush">
        <constructor-arg value="log.txt" />
        <constructor-arg value="5" />
    </bean>


    <bean id="event" class="com.mb.CoffeeSpace.Models.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <bean id="app" class="com.mb.CoffeeSpace.App">
        <constructor-arg ref="cacheFileLogger" />
        <constructor-arg ref="coffeeKind" />
    </bean>
</beans>