<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="coffeeKind" class="com.mb.CoffeeSpace.CoffeeKind">
        <constructor-arg name="name" value="Columbia Inza" />
    </bean>
    <bean id="eventLogger" class="com.mb.CoffeeSpace.ConsoleLogger"/>

    <bean id="app" class="com.mb.CoffeeSpace.App">
    </bean>
</beans>