<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="loggers.xml" />

    <bean id="coffeeKind" class="com.mb.CoffeeSpace.Models.CoffeeKind">
        <constructor-arg name="name" value="Columbia Inza" />
        <property name="description" value="Nice Central American breed" />
    </bean>

    <bean id="event" class="com.mb.CoffeeSpace.Models.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <bean id="app" class="com.mb.CoffeeSpace.App">
        <constructor-arg ref="cacheFileLogger" />
        <constructor-arg ref="coffeeKind" />
    </bean>
</beans>